<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analysis Model</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>
      <h2>Sentiment Analysis of the text</h2>
      <form id="input" method="POST" action="predict">
        <div class="mb-3">
          <label for="SentimentalText" class="form-label" style="background-color: aqua;">Enter Text Here</label>
          <input type="text" name="text" class="form-control" id="SentimentalText" style="width: 300px;">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </body>
</html>